<nav>
    <ul>
        {% if is_granted('ROLE_USER') %}
            <li>Bienvenue {{ app.user.prenom }} {{ app.user.nom }},</li>
            <li><a href="{{ path('histoire_new') }}">Ajouter une histoire</a></li>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('app_registration') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>
