<nav>
    <ul>
        {% if  is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>Bienvenue {{ app.user.prenom }} {{ app.user.nom }},</li>
            <li><a href="{{ path('creer_histoire') }}">Ajouter une histoire</a></li>
            <li><a href="{{ path('creer_chapitre') }}">Ajouter un chapitre</a></li>
            <li><a href="{{ path('lier_chapitre') }}">Lier un chapitre</a></li>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('user_registration') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>
